/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --zapp-primary-top:rgba(234, 234, 234, 1);
    --zapp-primary-bottom:rgba(243, 238, 234, 1);
    --zapp-notifications:rgba(142, 218, 252, 1);
    --zapp-icons-light:rgba(177, 177, 177, 1);
    --zapp-icons-dark:rgba(107, 115, 118, 1);
    --zapp-bg-message:rgba(213, 249, 186, 1);
    --zapp-light:rgba(255, 255, 255, 1);
    --zapp-bg-big:rgba(218, 219, 212, 1);
    --zapp-bg-small:rgba(0, 150, 136, 1);
}
body{
    height: 100vh;
    background-color: var(--zapp-bg-big);
    overflow: hidden;
}
/* #endregion common */

/* #region utilities */
.container{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: 95vh;
    background-color: aqua;
}
.app_page{
    width: 100%;
    height: 100%;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    width: 100%;
}
.col-4{
    width: calc((100% / 12) * 4);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-12{
    width: 100%;
}
/* #endregion utilities */

/* #region sidebar */
.sidebar{
    background-color: bisque;
    height: 100%;
}
/* #region side_nav */
.side_nav{
    background-color: var(--zapp-primary-top);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}
.left_nav{
    height: 50px;

    & img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}
.right_nav{
    color: var(--zapp-icons-light);
    gap: 1rem;
    font-size: 1.5rem;
}

/* #endregion side_nav */

/* #region notification */
.notification{
background-color: var(--zapp-notifications);
height: 75px;
align-items: center;
padding-left: 1rem;

    & .icon{
        background-color: var(--zapp-light);
        border-radius: 50%;
        aspect-ratio: 1;

        & i{
            color: var(--zapp-notifications);
            font-size: 1.2rem;
            padding: 0.8rem;
        }
    }
}
.text{
    flex-direction: column;
    padding-left: 1rem;

    & a{
        color: var(--zapp-icons-light);
    }
}
/* #endregion notification */

/* #region searchbar */
.searchbar{
    background-color: var(--zapp-primary-top);
    padding: 0.5rem;
}
.search{
    background-color: var(--zapp-light);
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;

    & i{
        color: var(--zapp-icons-light);
    }

    & input{
        border: none;
        width: 100%;
    }
}
/* #endregion searchbar */

/* #region contacts */
.contact_list{
    height: calc(100% - 193px);
    overflow-y: scroll;
}
.contact{
    background-color: var(--zapp-light);
    padding: 0 1rem;
    height: 70px;
    align-items: center;
    border-bottom: 0.5px solid var(--zapp-icons-light);
}
.user_img{
    width: 50px;
    height: 50px;

    & img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}
.text{
    width: 100%;

    & .user_name{
        justify-content: space-between;
    }
    & p{
        color: var(--zapp-icons-light);
    }
}
.user_name{
    span:first-of-type{
        font-size: 1.2rem;
    }
    span:last-of-type{
        color: var(--zapp-icons-light);
    }
}
/* #endregion contacts */

/* #endregion sidebar */

/* #region main_app */
.main_app{
    background-color: brown;
    height: 100%;
}

/* #region main_nav */
.main_nav{
    background-color: var(--zapp-primary-top);
    height: 70px;
    border-left: 0.5px solid var(--zapp-icons-light);
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;

    & .left_nav{
        align-items: center;
    }
}
.main_contact{
    flex-direction: column;
    padding-left: 1rem;
    
    span:first-of-type{
        font-size: 1.2rem;
    }
    span:last-of-type{
        color: var(--zapp-icons-light);
    }
}
/* #endregion main_nav */

/* #region chat */
.chat{
    background-color: lightcoral;
    height: calc(100% - 100px);
}
/* #endregion chat */

/* #region main_bottom */
.main_bottom{
    background-color: lightgreen;
    height: 50px;
}
/* #endregion main_bottom */


/* #endregion main_app */

@media screen and (max-width:991px) {
    
}

@media screen and (max-width:540px) {
    
}